# OSX #
.DS_Store
*.swp

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class
*egg-info/

# Django #
*.log
*.sqlite3
staticfiles/
.venv/
config/
requirements.txt
manage.py

# Extras
.ignore/
tasks.json
TODO.md
build/

# nonlinear test files
nonlinear_test_data.py

