{% extends "nonlinear/workspace.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mx-auto flex-center">
            <article class="card card-body">
                <h2>{% trans "Confirm Delete" %}</h2>
                <p>{% trans "Are you sure you want to delete" %} "{{ object }}"?</p>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                    <a href="{{object.get_absolute_url}}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                </form>
            </article>
        </div>
    </div>
</div>

{% endblock %}