{% load crispy_forms_tags %}
<div class="modal-header">
    <h5 class="modal-title">Create New Task</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form method="post" action="{% url 'nonlinear_task_create' workspace.slug %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Task</button>
        </div>
    </form>
</div>