<section id="task-list" hx-get hx-trigger="every 10s" hx-swap="outerHTML" hx-target="#task-list" hx-select="#task-list">

    {% for status, status_title in statuses %}
    <h5 class="filtered">{{status_title}}</h5>

    <form id="{{status}}" class="{% if sortable == True %}sortable{% endif %}" hx-post hx-trigger="end"
        hx-swap="outerHTML" hx-target="#task-list" hx-select="#task-list">
        {% csrf_token %}
        {% for task in task_list %}
        {% if task.status == status %}
        {% include "nonlinear/components/task_item.html" with task=task %}
        {% endif %}
        {% endfor %}
    </form>

    {% endfor %}
</section>

<style>
    .bg-severe {
        background: #ff1414 !important;
    }

    .bg-high {
        background: #ffa500 !important;
    }

    .bg-medium {
        background: #ffff00 !important;
    }

    .bg-low {
        background: #4caf50 !important;
    }
</style>